@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

html
{
    margin: 0;
    padding: 0;
}

body{
    background-color: #181820;
}

.go-back{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: "Nunito", sans-serif;
    margin-top: 8vh;
    margin-left: 8vh;
}

.content{
    margin-top: 15vh;
    color: #fff;
    font-family: "Nunito", sans-serif;
}

.title{
    text-align: center;
    padding-bottom: 8vh;
}

.info-container{
    padding-top: 10px;
    margin-left: 50vh;
    margin-right: 50vh;
}

.info-container p
{
    font-size: 17px;
}